environments
pki/cert.crt
pki/private.key
pki/certificate.p12
pki/ca.pem
environments
/target/
!.mvn/wrapper/maven-wrapper.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.class
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.patch

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/bin/
/.nb-gradle/
/MixewayFrontend/.angular/
